[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
motor = "*"
mypy = "*"
pydantic = "*"
pymongo = "*"
pytest = "*"
pytest-cov = "*"
rich = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
flake8 = "*"
icecream = "*"
isort = "*"
pycodestyle = "*"
pipenv = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
